<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eHya</title>
    <link rel="stylesheet" href="/css/template_1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   
            <header>
                <div class="header_container container">
                    <div class="header_row ">

                   
                    <div class="header_logo">
                        <img src="./template_1/Logo.svg" alt="">
                    </div>
                    <nav>
                        <div class="nav_items">
                        <ul class="nav_ul">
                            <li class="item"><a href="#home" class="nav_a">Home</a></li>
                            <li class="item"><a href="" class="nav_a">Landing </a><span><i class="fa-solid fa-chevron-down nav_icon"></i></span></li>
                            <li class="item"><a href="" class="nav_a">Pages </a><span><i class=" nav_icon fa-solid fa-chevron-down"></i></span></li>
                            <li class="item"><a href="" class="nav_a">Docs</a></li>
                            <li class="item"><a href="" class="nav_a">Help</a></li>
                        </ul>
                        <div class="nav_button">
                            <button class="header_btn " >Get it now</button>
                        </div>
                    </div>
                     </nav>
                    </div>
                </div>


            </header>
       
       
            <main>
                

                    <section class="home" id="home">
                        <div class="home_container container">

                            <div class="home_img">
                                <img src="./template_1/Hero.png" alt="">
                            </div>
                            <div class="home_intro">
                                <div class="home_intro_title">
                                    <h1>Make your new life happier.</h1>
                                </div>
                                <div class="home_intro_disc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti possimus enim ea deserunt labore?
                                </div>
                                <div >
                                    <button class="home_intro_btn">Get a consultation</button>
                                </div>
                            </div>



                        </div>
                    </section>


                    <section id="services"  class="services">
                        <div class="services_container container">

                            <div class="services_group">
                                <div class="services_group_title">OUR SERVICES</div>

                                <div class="services_group_paratitle">
                                   <h2>  Insurance made simple for you </h2>
                                </div>

                                <div class="services_group_disc">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ullam nam officiis quis dolore.
                                </div>
                            </div>
                        
                            <div class="services_rights">
                                    <div class="services_rights_item">
                                        <i class="fa-solid fa-circle-check"></i><span>  Flexible products to make your life easier</span>
                                    </div>  
                                    
                                    <div class="services_rights_item">
                                        <i class="fa-solid fa-circle-check"></i><span>  Highest standards of  service</span>
                                    </div> 
                                    
                                    <div class="services_rights_item">
                                        <i class="fa-solid fa-circle-check"></i><span>  Fast and reliable service</span>
                                    </div>
                                </div>
                            <div class="services_row">
                                <div class="services_cols">
                                    <div class="services_card">
                                        <div class="logo">
                                            <img src="./template_1/Icon_Home.svg" alt="">
                                        </div>
                                        <div class="title">
                                            <h3>Home insurance</h3>
                                        </div>
                                        <div class="disc">
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit.
                                        </div>
                                        <div class="more" >
                                            <a href=""  >Learn more</a><i class="fa-solid fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="services_cols">
                                    <div class="services_card">
                                        <div class="logo">
                                            <img src="./template_1/Icon_Blood_Donation.svg   " alt="">
                                        </div>
                                        <div class="title">
                                            <h3>Life insurance</h3>
                                        </div>
                                        <div class="disc">
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit.
                                        </div>
                                        <div class="more" >
                                            <a href=""  >Learn more</a><i class="fa-solid fa-arrow-right"></i>
                                        </div>
                                    </div>
                                    </div>

                                <div class="services_cols">
                                    <div class="services_card">
                                        <div class="logo">
                                            <img src="./template_1/Icon_Car.svg" alt="">
                                        </div>
                                        <div class="title">
                                            <h3>Car insurance</h3>
                                        </div>
                                        <div class="disc">
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit.
                                        </div>
                                        <div class="more"  >
                                            <a href="" >Learn more</a><i class="fa-solid fa-arrow-right"></i>
                                        </div>
                                    </div>
                                    </div>


                                    
                                    

                                    

                                </div>
                            </div>
                    </section>


                    <section id="tips" class="tips">
                        <div class="tips_container container">
                            <div class="tips_group">
                                <div class="tips_group_title">OUR TIPS FOR YOU</div>

                                <div class="tips_group_paratitle">
                                   <h2> Reinventing your protection</h2>
                                </div>

                                <div class="tips_group_disc">
                                    We share common trends,strategies ideas,opinions, short &  long stories from  the team  behind company.
                                </div>
                            </div>
                            <div class="tips_row">
                                <div class="tips_col1">
                                    
                                   <div class="title">
                                    <h3>
                                    How to  prevent and protect your  family  from  Carbon monoxide
                                </h3>
                                   </div>
                                </div> 

                                <div class="tips_col2">
                                   <div class="title">
                                        <h3>
                                            Motherhood is the hardest and the best job ever
                                        </h3>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="benefits" class="benefits">

                        <div class="benefits_container container">
                            <div class="benefits_row">
                                <div class="benefits_cols">

                                    <div class="benefits_group">
                                        <div class="benefits_group_title">YOUR BENEFITS</div>
                                        <div class="benefits_group_paratitle">
                                            <h2> We're  your right insurance advocate</h2>
                                         </div>
         
                                    </div>
                                    </div>

                                    <div class="benefits_cols">

                                    <div class="benefits_card">
                                        <div class="img">
                                            <img src="./template_1/Donation.svg" alt="">
                                        </div>    
                                        <div class="title">
                                            <span>We have the  best prices</span>
                                        </div>
                                        <div class="disc">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam reiciendis deserunt doloribus.
                                        </div>
                                    </div>
                                    </div>


                                     <div class="benefits_cols">

                                    <div class="benefits_card">
                                        <div class="img">
                                            <img src="./template_1/Icon_Like.svg" alt="">
                                        </div>    
                                        <div class="title">
                                            <span>We make insurance simple</span>
                                        </div>
                                        <div class="disc">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam reiciendis deserunt doloribus.
                                        </div>
                                    </div>
                                    </div>


                                     <div class="benefits_cols">

                                    <div class="benefits_card">
                                        <div class="img">
                                            <img src="./template_1/Icon_Protection.svg" alt="">
                                        </div>    
                                        <div class="title">
                                            <span>We're your insurance advocate</span>
                                        </div>
                                        <div class="disc">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam reiciendis deserunt doloribus.
                                        </div>
                                    </div>
                                    </div>


                                     <div class="benefits_cols">

                                    <div class="benefits_card">
                                        <div class="img">
                                            <img src="./template_1/Icon_Neutron.svg" alt="">
                                        </div>    
                                        <div class="title">
                                            <span>We're unbiased</span>
                                        </div>
                                        <div class="disc">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam reiciendis deserunt doloribus.
                                        </div>
                                    </div>
                                    </div>


                                     <div class="benefits_cols">

                                    <div class="benefits_card">
                                        <div class="img">
                                            <img src="./template_1/Icon_CS.svg" alt="">
                                        </div>    
                                        <div class="title">
                                            <span>We're available 24/7</span>
                                        </div>
                                        <div class="disc">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam reiciendis deserunt doloribus.
                                        </div>
                                    </div>
                                    </div>


                                    


                                    

                                </div>
                            </div>
                       

                    </section>

                    <hr class="line">

                    <section class="trustpilot" id="trustpilot">
                        <div class="trustpilot_container container">
                            <div class="trustpilot_row">

                                <div class="trustpilot_cols">
                                    <div class="team">
                                    <div class="team_photo">
                                        <img style="z-index: 1;" src="./template_1/Avatar-1.png" alt="">
                                        <img style="z-index: 0;" src="./template_1/Avatar-2.png" alt="">
                                        <img style="z-index: -1;" src="./template_1/Avatar.png" alt="">
                                    </div>
                                    <div class="team_title">
                                        <span><b>Friendly</b> customer support team</span>
                                    </div>
                                </div>
                                </div>
                                <div class="trustpilot_cols">
                                    <hr class="rotate_line">
                                </div>
                                <div class="trustpilot_cols">
                                    <div class="review">
                                        <div class="logo">
                                            
                                            <img src="./template_1/Path.svg" alt=""><span>Trustpilot</span>
                                        </div>
                                        <div class="star">
                                            <img src="./template_1/s.svg" alt="">
                                            <img src="./template_1/s.svg" alt="">
                                            <img src="./template_1/s.svg" alt="">
                                            <img src="./template_1/s.svg" alt="">
                                            <img src="./template_1/s.svg" alt="">
                                        </div>
                                        <div class="review_title">
                                            <span><b>4.6  out  of 5 starts</b> from 8.6k reviews</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="trustpilot_cols">
                                    <hr class="rotate_line">
                                </div>
                                <div class="trustpilot_cols">
                                    <div class="like">
                                        <div class="img">
                                            <img src="./template_1/Icon_Like.svg" alt="">
                                        </div>
                                        <div class="like_title">
                                            <span>we're making<b>insurance as simple as </b> can be </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

               
            </main>
        <footer>
            <div class="footer_container container">
                <div class="footer_row">
                    <div class="footer_cols">
                        <div class="col1">

                        
                        <div class="footer_logo">
                            <img src="./template_1/Logo_white.svg" alt="">
                        </div>
                        <div class="para">
                            Build a modern and creative website with crealand
                        </div>
                        <div class="links">
                            <a href="">
                                <i class="fa-brands fa-google"></i>
                            </a>
                           <a href=" "> <i class="fa-brands fa-linkedin"></i></a>
                           <a href=" ">   <i class="fa-brands fa-instagram"></i> </a>
                            <a href=" ">    <i class="fa-brands fa-youtube"></i> </a>
                                <a href=" ">  <i class="fa-brands fa-twitter"></i> </a>

                        </div>
                    </div>
                </div>


                    <div class="footer_cols">
                        <div class="col2">  
                        <div class="title">
                            <h2>Ready to get  insured?  Submit  your request and  hear  back as  soon as tomorrow</h2>
                        </div>
                        <div class="get_email">
                            <form action="">
                                
                                <input type="text" class="email_val" placeholder="Your Email">
                                <input type="submit" value="Get started" class="footer_btn">
                            </form>

                        </div>
                    </div>
                </div>
                </div>

                <div class="footer_copyright">
                    <p>Copyrights &copy; 2019 Crafted with love.</p>
                </div>
            </div>
        </footer>














    
</body>
</html>