<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AwanHoster</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/template_2.css">
</head>
<body>
    <div>
        <header>
            <div class="container">
                <div class="header_container">
                    <div class="header_logo">
                        <img src="template_2/Group 3478.png" alt="">
                    </div>
                    <nav>
                        <div class="nav_items">

                        
                        <ul>
                            <li><a href="#">Hosting</a></li>
                            <li><a href="#">Integration</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Community</a></li>
                        </ul>
                  
                    <div >
                        <a class="header_btn" href="">Login</a>
                    </div>
                </div>
            </nav>
                </div>
            </div>
        </header>

        <main>
            <section id="home" class="home">
                <div class="container">
                    <div class="home_container">
                        <div class="home_intro">
                            <div class="title">
                                <h1>Hosting Services for  Your Website  </h1> 
                            </div> 
                            <div class="desc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt est omnis numquam fugiat, nam facere nemo inventore Lorem  </p>
                            </div>
                            <div class="btns">
                                <a href="" class="btn_started">Get Started</a>
                                <a href="" class="btn_migration">Get Migration Help</a>
                            </div>
                        </div>
                        <div class="home_img">
                            <img src="template_2/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="">
                        </div>
                        <div class="nextpage">
                            <a href="#complogo"> <i class="fa-solid fa-arrow-down"></i></a>
                             </div>
                    </div>

                   
                </div>
               
            </section>

            <section id="complogo" class="complogo">
                <div class="container">
                    <div class="complogo_container">
                        <div class="complogo_para">
                            <p>Those Who Have Experience The Best Performance</p>
                        </div>
                        <div class="complogo_logos">
                            <div class="logo">
                                <img src="template_2/Telkom Indonesia Logo.png" alt="">
                            </div>
                            <div class="logo">
                                <img src="template_2/Jetstar Airways Logo.png" alt="">
                            </div>
                            <div class="logo">
                                <img src="template_2/Nescafe Logo.png" alt="">
                            </div>
                            <div class="logo">
                                <img src="template_2/Lenovo Logo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="sec3" class="sec3">
                <div class="container">
                    <div class="sec3_container">
                        <div class="sec3_first">
                            <img src="template_2/Group 3552.png" alt="">
                        </div>
                        <div class="sec3_second">
                            <div class="title">
                                <h2>Boost the Speed of Your Website</h2>
                            </div>
                            <div class="sec3_service_row">
                                <div class="sec3_service_col">
                                    <div class="sec3_service_card">
                                        <div class="title">
                                            <h3>Faster Build Process</h3>
                                        </div>
                                        <div class="desc">
                                           <p> We can speed up the process  of creating your website </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="sec3_service_col">
                                    <div class="sec3_service_card">
                                        <div class="title">
                                            <h3>Faster Delivery</h3>
                                        </div>
                                        <div class="desc">
                                           <p> Our purchases and services can be completed quickly </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="sec3_service_col">
                                    <div class="sec3_service_card">
                                        <div class="title">
                                            <h3>Faster Access Point</h3>
                                        </div>
                                        <div class="desc">
                                          <p>  Superb network infrastructure and hardware to support fast  and stable access </p>
                                        </div>
                                    </div>
                                </div>  

                                <div class="sec3_service_col">
                                    <div class="sec3_service_card">
                                        <div class="title">
                                            <h3>24/7 Faster Service</h3>
                                        </div>
                                        <div class="desc">
                                         <p>   We have responce time of less than 180 seconds, available 24 hours a day</p>
                                        </div>
                                    </div>
                                </div>  


                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section id="sec4" class="sec4">
                <div class="container">
                    <div class="sec4_container">
                        <div class="sec4_title">
                            <h2>
                                Host Any Website With Our Fully Managed Services 
                            </h2>
                        </div>
                        <div class="sec4_row">
                            <div class="sec4_col">
                                <div class="sec4_card">
                                    <div class="sec4_service">
                                        <div class="service_img">
                                            <img src="template_2/cloud-sunny.png" alt="">
                                            <h3>Cloud hosting</h3>
                                        </div>
                                        <div class="service_desc">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, illum?
                                        </div>
                                    </div>
                                    <div class="price">
                                        <h3>$5.9</h3><p>/month</p>
                                    </div>
                                    <div>
                                        <a href="" class="service_moredetail_btn">More Detail</a>
                                    </div>
                                </div>
                            </div>

                                <div class="sec4_col">
                                <div class="sec4_card">
                                    <div class="sec4_service">
                                        <div class="service_img">
                                            <img src="template_2/buildings.png" alt="">
                                            <h3>Corporate</h3>
                                        </div>
                                        <div class="service_desc">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, illum?
                                        </div>
                                    </div>
                                    <div class="price">
                                        <h3>$19</h3><p>/month</p>
                                    </div>
                                    <div>
                                        <a href="" class="service_moredetail_btn">More Detail</a>
                                    </div>
                                </div>
                            </div>

                                <div class="sec4_col">
                                <div class="sec4_card">
                                    <div class="sec4_service">
                                        <div class="service_img">
                                            <img src="template_2/driver.png" alt="">
                                            <h3>Cloud VPS</h3>
                                        </div>
                                        <div class="service_desc">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, illum?
                                        </div>
                                    </div>
                                    <div class="price">
                                        <h3>$29</h3><p>/month</p>
                                    </div>
                                    <div>
                                        <a href="" class="service_moredetail_btn">More Detail</a>
                                    </div>
                                </div>
                            </div>

                                    <div class="sec4_col">
                                <div class="sec4_card">
                                    <div class="sec4_service">
                                        <div class="service_img">
                                            <img src="template_2/monitor-mobbile.png" alt="">
                                            <h3>Dedicated</h3>
                                        </div>
                                        <div class="service_desc">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, illum?
                                        </div>
                                    </div>
                                    <div class="price">
                                        <h3>$119</h3><p>/month</p>
                                    </div>
                                    <div>
                                        <a href="" class="service_moredetail_btn">More Detail</a>
                                    </div>
                                </div>
                            </div>





                        </div>
                    </div>
                </div>

            </section>


            <section id="sec5" class="sec5">
                <div class="container">
                    <div class="sec5_container">
                        <div class="domain_group">
                            <div class="domain selected" id="wordpress">
                                <div class="img" >
                                    <i class="fa-brands fa-wordpress"></i>
                                </div>
                                <div class="name" >
                                   <h3 > Wordpress </h3>
                                </div>
                            </div>
                            <div class="domain" id="magento">
                                <div class="img">
                                    <i class="fa-brands fa-magento"></i>
                                </div>
                                <div class="name">
                                <h3>  Magento</h3>
                                </div>
                            </div>

                             <div class="domain" id="laravel">
                                <div class="img">
                                    <i class="fa-brands fa-laravel"></i>
                                </div>
                                <div class="name">
                                <h3> Laravel </h3>
                                </div>
                            </div>

                             <div class="domain" id="php">
                                <div class="img">
                                    <i class="fa-brands fa-php"></i>
                                </div>
                                <div class="name">
                                <h3>   PHP</h3>
                                </div>
                            </div>

                        </div>

                        <div class="domain_desc_group">

                      
                        <div class="domain_desc " id="wordpress_desc">
                            <div class="title">
                                <h2>The Best Managed Cloud Hosting for wordPress</h2>
                            </div>
                            <div class="desc">
                               <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quas obcaecati totam natus dolor, autem similique dolore tempore ut accusamus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, eius! </p>
                            </div>
                            <div class="functions_row">
                                <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Unlimited Bandwith</p>
                                </div>
                                 <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Network Speed</p>
                                </div>
                                 <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Turbo Power</p>
                                </div>
                                 <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Xtreme Freedom</p>
                                </div>
                                
                            </div>
                            <div>
                                <a href="" class="domain_desc_btn">More Detail</a>
                            </div>
                        </div> 
                        
                        <div class="domain_desc none " id="magento_desc">
                            <div class="title">
                                <h2>The Best Managed Cloud Hosting for magento</h2>
                            </div>
                            <div class="desc">
                               <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quas obcaecati totam natus dolor, autem similique dolore tempore ut accusamus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, eius! </p>
                            </div>
                            <div class="functions_row">
                                <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Unlimited Bandwith</p>
                                </div>
                                 <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Network Speed</p>
                                </div>
                                 <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Turbo Power</p>
                                </div>
                                 <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Xtreme Freedom</p>
                                </div>
                                
                            </div>
                            <div>
                                <a href="" class="domain_desc_btn">More Detail</a>
                            </div>
                        </div> 
                        
                        <div class="domain_desc none " id="laravel_desc">
                            <div class="title">
                                <h2>The Best Managed Cloud Hosting for laravel</h2>
                            </div>
                            <div class="desc">
                               <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quas obcaecati totam natus dolor, autem similique dolore tempore ut accusamus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, eius! </p>
                            </div>
                            <div class="functions_row">
                                <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Unlimited Bandwith</p>
                                </div>
                                 <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Network Speed</p>
                                </div>
                                 <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Turbo Power</p>
                                </div>
                                 <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Xtreme Freedom</p>
                                </div>
                                
                            </div>
                            <div>
                                <a href="" class="domain_desc_btn">More Detail</a>
                            </div>
                        </div>
                                
                        <div class="domain_desc  none" id="php_desc">
                            <div class="title">
                                <h2>The Best Managed Cloud Hosting for PHP</h2>
                            </div>
                            <div class="desc">
                               <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores quas obcaecati totam natus dolor, autem similique dolore tempore ut accusamus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, eius! </p>
                            </div>
                            <div class="functions_row">
                                <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Unlimited Bandwith</p>
                                </div>
                                 <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Network Speed</p>
                                </div>
                                 <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Turbo Power</p>
                                </div>
                                 <div class="functions_col">
                                    <img src="template_2/Vector.png" alt="">
                                    <p>Xtreme Freedom</p>
                                </div>
                                
                            </div>
                            <div>
                                <a href="" class="domain_desc_btn">More Detail</a>
                            </div>
                        </div>



                    </div>

                    </div>
                </div>



            </section>

            <section id="sec6" class="sec6">
                <div class="container">
                    <div class="sec6_container">
                        <div class="sec6_top">
                            <div class="title">
                                <h2>How Our Customers Feel About Us</h2>
                            </div>
                            <div class="movebtn">
                               <i class="fa-solid fa-arrow-left" id="previous"></i>
                                <i class="fa-solid fa-arrow-right" id="next"></i>
                            </div>
                        </div>



                        <div class="sec6_row">


                            <div class="sec6_col">
                                <div class="sec6_card">
                                    <div class="sec6_inner_card">
                                        <div class="img">
                                            <img src="template_2/profile.png" alt="">
                                        </div>
                                        <div class="rating">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                        </div>
                                        <div class="para">
                                            <p>thanks to the awan hoster , i was guided step by step until is was fineshed</p>
                                        </div>

                                        <div class="name">
                                            <p>Guy Hawkins</p>
                                        </div>
                                        <div class="role">
                                            <p>Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sec6_col">
                                <div class="sec6_card">
                                    <div class="sec6_inner_card">
                                        <div class="img">
                                            <img src="template_2/profile.png" alt="">
                                        </div>
                                        <div class="rating">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                        </div>
                                        <div class="para">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, voluptatum.</p>
                                        </div>

                                        <div class="name">
                                            <p>Guy Hawkins</p>
                                        </div>
                                        <div class="role">
                                            <p>Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="sec6_col">
                                <div class="sec6_card">
                                    <div class="sec6_inner_card">
                                        <div class="img">
                                            <img src="template_2/profile.png" alt="">
                                        </div>
                                        <div class="rating">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                        </div>
                                        <div class="para">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, voluptatum.</p>
                                        </div>

                                        <div class="name">
                                            <p>Guy Hawkins</p>
                                        </div>
                                        <div class="role">
                                            <p>Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sec6_col">
                                <div class="sec6_card">
                                    <div class="sec6_inner_card">
                                        <div class="img">
                                            <img src="template_2/profile.png" alt="">
                                        </div>
                                        <div class="rating">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                        </div>
                                        <div class="para">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, voluptatum.</p>
                                        </div>

                                        <div class="name">
                                            <p>Guy Hawkins</p>
                                        </div>
                                        <div class="role">
                                            <p>Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sec6_col">
                                <div class="sec6_card">
                                    <div class="sec6_inner_card">
                                        <div class="img">
                                            <img src="template_2/profile.png" alt="">
                                        </div>
                                        <div class="rating">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                        </div>
                                        <div class="para">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, voluptatum.</p>
                                        </div>

                                        <div class="name">
                                            <p>Guy Hawkins</p>
                                        </div>
                                        <div class="role">
                                            <p>Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>









                          <div class="sec6_col">
                                <div class="sec6_card">
                                    <div class="sec6_inner_card">
                                        <div class="img">
                                            <img src="template_2/profile.png" alt="">
                                        </div>
                                        <div class="rating">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                            <img src="template_2/Star 2.png" alt="">
                                        </div>
                                        <div class="para">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, voluptatum.</p>
                                        </div>

                                        <div class="name">
                                            <p>Guy Hawkins</p>
                                        </div>
                                        <div class="role">
                                            <p>Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>







                        </div>
                    </div>
                </div>
            </section>

            <section id="sec7" class="sec7">
                <div class="container">
                    <div class="sec7_container">
                        <div class="sec7_first">
                            <div class="title">
                                <h2>Try it now and Stop Doubting Anything Else</h2>
                            </div>
                            <div class="desc">
                               <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, pariatur.</p>
                            </div>
                            <div >
                                <a href="" class="sec7_freetrial_btn">Start Free Trial</a>
                                <a href="" class="sec7_plans_btn ">See All Plans</a>
                            </div>
                        </div>
                        <div class="sec7_second">
                            <img src="template_2/Group 1000008788.png" alt="">
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div class="container">
                <div class="footer_row">
                    <div class="footer_col_first">
                        <div class="image">
                            <img src="template_2/logo-white.png" alt="">
                        </div>
                        <div class="para">
                            <p>We provide you with the best hosting solutions for your website.</p>
                        </div>
                        <ul class="links_group">
                            <li class="link">
                                <i class="fa-brands fa-facebook-f"></i>
                            </li>
                            <li class="link">
                                <i class="fa-brands fa-twitter"></i>
                            </li>
                            <li class="link">
                                <i class="fa-brands fa-instagram"></i>
                            </li>
                            <li class="link">
                                <i class="fa-brands fa-youtube"></i>
                            </li>
                            <li class="link">
                                <i class="fa-brands fa-discord"></i>
                            </li>
                        </ul>
                    </div>

                    <div class="footer_col_second">
                        <div class="row">
                            <div class="col">
                            <div class="title">
                                <h3>Company</h3>
                            </div>
                            <ul class="items">
                                <li> <p>About</p></li>
                                <li> <p>Blog</p></li>
                                <li><p>Leadership</p></li>
                                <li><p>Careers</p></li>
                                <li><p>Legal</p></li>
                            </ul>
                         
                        </div>

                        <div class="col">
                            <div class="title">
                                <h3>Product</h3>
                            </div>
                            <ul class="items">
                                <li><p>API</p></li>
                                <li>  <p>Pricing</p></li>
                                <li> <p>Documentation</p></li>
                                <li><p>Release Notes</p></li>
                            </ul>
                        </div>
                        <div class="col">
                            <div class="title">
                                <h3>Contact</h3>
                            </div>
                            <ul class="items">
                                <li><p>Support</p></li>
                                <li> <p>Sales</p></li>
                                <li> <p>Report Abuse</p></li>
                                <li> <p>System Status</p></li>
                            </ul>
                        </div>
                    </div>
                      
                    </div>
                </div>
            </div>
        </footer>



















    </div>

    <script >
        let wordpress_desc = document.querySelector("#wordpress_desc");
let magento_desc = document.querySelector("#magento_desc");
let laravel_desc = document.querySelector("#laravel_desc");
let php_desc = document.querySelector("#php_desc");
let domain_desc = document.querySelectorAll(".domain_desc")

let domains = document.querySelectorAll(".domain")
for (const i of domains) {
    i.addEventListener("click",tabchange)
}

function tabchange(e){
    for (const i of domain_desc) {
        if(!(i.classList.contains("none"))){
        i.classList.add("none"); 
        }

    }

   const id=  e.target.closest(".domain").getAttribute("id")
   for (const i of domains) {
        i.classList.remove("selected")
   }
   e.target.closest(".domain").classList.add("selected")

   if(id == "wordpress"){
   
        wordpress_desc.classList.toggle("none")
    
        
   }
   if(id == "magento"){

        magento_desc.classList.toggle("none")
    

        
   }if(id == "laravel"){
            laravel_desc.classList.toggle("none")

   }
   
   if(id == "php"){
    php_desc.classList.toggle("none")

        
   }


}
let next = document.querySelector("#next")
let previous = document.querySelector("#previous")



const sec6_row = document.querySelector(".sec6_row")

next.addEventListener("click",()=>{
    sec6_row.scrollBy({
        left: 330,
        behavior: "smooth",
      })
   
})

previous.addEventListener("click",()=>{
    sec6_row.scrollBy({
        left: -330,
        behavior: "smooth",
      })
})
    </script>
</body>
</html>