<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HireX</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
        </style>
    <link rel="stylesheet" href="/css/template_3.css">
</head>
<body>
    <div>

        <header>
            <div class="container header_container">
                <div class="logo">
                    <img src="template_3/HireX_black.png" alt="">
                </div>
                <nav>
                    <ul>
                        <li> <a href="" class="anchor">Works</a></li>
                        <li> <a href="" class="anchor">About Us</a></li>
                        <li> <a href="" class="anchor">Blogs</a></li>
                        <li> <a href="" class="anchor">FAQs</a></li>
                        <li> <a href="" class="anchor">Contact Us</a></li>
                    </ul>
                    <div>
                        <a href="" class="header_btn anchor">We're Hiring <img src="template_3/arrow-right.svg" alt=""></a>
                    </div>
                </nav>
              
            </div>
        </header>

        <main>
            <section id="sec1" class="sec1">
                <div class="container sec1_container">

                    <div class="sec1_first">
                        <div class="welcome">
                            <p>WELCOME TO HIREX.</p><img src="template_3/Star 1.png" alt="">
                        </div>
                        <div class="title">
                            <h1>
                                Award Winning Digital Agency. 
                            </h1>
                        </div>
                        <div class="para">
                           <p> Digital Agency offering unique solutions to create digital presence and increase your sales.</p>
                        </div>
                        <div class="get_request">
                            <input type="text" placeholder="Your email address"><a href="" class="sec1_btn anchor">Request access</a>
                            <div class="popup">
                                <p>Open account and get 5 boxes</p>
                            </div>
                        </div>
                       
                    </div>


                    <div class="sec1_second">
                        <div class="item1">
                            <img src="template_3/image 2 (Traced).png" alt="">
                            <h3>Web Design</h3>
                        </div>
                        
                        <div class="item2">
                            <img src="template_3/image 6 (Traced).png" alt="">
                            <h3>Social Media</h3>
                        </div> 
                        
                        <div class="item3">
                            <h3>UIX Design</h3>
                            <img src="template_3/image 1 (Traced).png" alt="">
                        </div>
                        <div class="item4">
                            <img src="template_3/Group 6.png" alt="">
                        </div>
                    </div>
                </div>
            </section>


            <section id="sec2" class="sec2">
                <!-- <marquee behavior="scroll" direction="left"> -->
                <div class="sec2_container container">
                        <div class="sec2_col">
                            <div class="label">
                                <h3>GET ACCESS NOW!</h3>
                            </div>
                            <div class="img">
                                <img src="template_3/image-fBLQvAFN1-transformed 1.png" alt="">
                            </div>
                        </div>

                        <div class="sec2_line">
                            <img src="template_3/Line 4.png" alt="">
                        </div>

                        <div class="sec2_col">
                            <div class="label">
                                <h3>GET ACCESS NOW!</h3>
                            </div>
                            <div class="img">
                                <img src="template_3/image-fBLQvAFN1-transformed 1.png" alt="">
                            </div>
                        </div>

                        <div class="sec2_line">
                            <img src="template_3/Line 4.png" alt="">
                        </div>

                        <div class="sec2_col">
                            <div class="label">
                                <h3>GET ACCESS NOW!</h3>
                            </div>
                            <div class="img">
                                <img src="template_3/image-fBLQvAFN1-transformed 1.png" alt="">
                            </div>
                        </div>
                </div>
            <!-- </marquee> -->

            </section>


            <section id="sec3" class="sec3">
                <div class="container sec3_container">
                    <div class="sec3_group">
                        <div class="first_title">
                           <h2>Services</h2>
                        </div>
                        <div class="second_title">
                          <p>How Hirex. Work</p>
                        </div>
                        <div class="para">
                            <p>The awesome people who makes  all this possible</p>
                        </div>
                    </div>

                    <div class="sec3_row">
                        <div class="sec3_col">
                            <div class="sec3_card">
                                <div class="mini_title">
                                    <p>START HERE</p>
                                </div>
                                <div class="main_title">
                                    <h3>
                                        Who we are & What we do
                                    </h3>
                                </div>
                                <div class="img">
                                    <img src="template_3/Designer _Flatline 1.png" alt="">
                                </div>
                                <div>
                                    <a href="" class="sec3_card_btn sec3_card_start_btn_color anchor"> START HERE <img src="template_3/arrow-right.svg" alt=""></a>
                                </div>
                            </div>
                        </div>

                        <div class="sec3_col">
                            <div class="sec3_card">
                                <div class="mini_title">
                                    <p>CUSTOM DESIGN</p>
                                </div>
                                <div class="main_title">
                                    <h3>
                                        We'll  design your projects
                                    </h3>
                                </div>
                                <div class="img">
                                    <img src="template_3/Notifications_Flatline 1.png" alt="">
                                </div>
                                <div>
                                    <a href="" class="sec3_card_btn sec3_card_custom_btn_color anchor"> START HERE <img src="template_3/arrow-right-black.svg" alt=""></a>
                                </div>
                            </div>
                        </div>

                        <div class="sec3_col">
                            <div class="sec3_card">
                                <div class="mini_title">
                                    <p> CONTACT US</p>
                                </div>
                                <div class="main_title">
                                    <h3>
                                        Drop us your message!
                                    </h3>
                                </div>
                                <div class="img">
                                    <img src="template_3/Fortnite_Two Color 1.png" alt="">
                                </div>
                                <div>
                                    <a href="" class="sec3_card_btn sec3_card_contact_btn_color anchor"> START HERE <img src="template_3/arrow-right-black.svg" alt=""></a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>


            <section id="sec4" class="sec4">
                <div class="sec4_container container">
                    <div class="sec4_group">
                        <div class="first_title">
                           <h2>Works</h2>
                        </div>
                        <div class="second_title">
                          <p>Find Our Letest Works</p>
                        </div>
                        <div class="para">
                            <p>The awesome people who makes  all this possible</p>
                        </div>
                    </div>

                    <div class="sec4_row">
                        <div class="sec4_colleft">
                            <div class="img">
                                <img src="template_3/Rectangle 13.png" alt="">
                            </div>
                            <div class="text_group">
                            <div class="para1">
                                <p>Web Design</p>   
                            </div>
                            <div class="para2">
                                <h3>Website Design For Digital Agency</h3>
                            </div>
                            <div class="para3">
                                <p>Build a Unique Website with HireX template</p>
                            </div>

                            <div>
                                <a href="" class="readmore"> Read more <img src="template_3/arrow-right-black.png" alt=""></a>
                            </div>
                        </div>
                        </div>

                        <div class="sec4_colright">
                            <div class="img">
                                <img src="template_3/Rectangle 13-1.png" alt="">
                            </div>
                            <div class="text_group">
                            <div class="para1">
                                <p>3D Design</p>
                            </div>
                            <div class="para2">
                                <h3>Realistic 3D Model of Living Room</h3>
                            </div>

                            <div class="para3">
                                <p>Build a Unique Website with HireX template</p>
                            </div>
                            <div>
                                <a href="" class="readmore"> Read more <img src="template_3/arrow-right-black.png" alt=""></a>
                            </div>
                            </div>
                            
                                <a href="" class="viewall_btn anchor">View All <img src="template_3/arrow-right-black.svg" alt=""></a>
                            
                        </div>
                    </div>
                </div>

            </section>

            <section id="sec5" class="sec5">
                <div class="sec5_container container">
                    <div class="sec5_group">
                        <div class="title">
                          <h2>Plans & Pricing</h2>
                        </div>
                        <div class="para">
                            <p>The awesome people who makes  all this possible</p>
                        </div>
                    </div>


                    <div class="sec5_row">
                        <div class="sec5_col">
                            <div class="sec5_cards sec5_card1">
                                <div class="para1">
                                    <h3>FREE</h3>
                                </div>
                                <div class="price">
                                    <h3><b>$0</b></h3><p>/MONTH</p>
                                </div>
                                <div class="para2">
                                    <p>Start free while you learn more about our services</p>
                                </div>
                                <div class="line">
                                    <hr>
                                </div>
                                <ul>
                                    <li><i class="fa-solid fa-check"></i><p>Free forever get the basic essentials</p></li>
                                    <li><i class="fa-solid fa-check"></i><p>Advanced security and perfoimance</p></li>
                                    <li><i class="fa-solid fa-check"></i><p>unlimited unhosted sites</p></li>
                                    <li><i class="fa-solid fa-check"></i><p>live support</p></li>
                                </ul>
                                <a href="" class="sec5_card_btn sec5_card1_btn_color  anchor">Get Started</a>
                            </div>
                            
                        </div>



                        <div class="sec5_col">
                            <div class="sec5_cards sec5_card2">
                                <div class="para1">
                                    <h3>BASIC</h3>
                                </div>
                                <div class="price">
                                    <h3><b>$19</b></h3><p>/MONTH</p>
                                </div>
                                <div class="para2">
                                    <p>Start free while you learn more about our services</p>
                                </div>
                                <div class="line">
                                    <hr>
                                </div>
                                <ul>
                                    <li><i class="fa-solid fa-check"></i><p>Free forever get the basic essentials</p></li>
                                    <li><i class="fa-solid fa-check"></i><p>Advanced security and perfoimance</p></li>
                                    <li><i class="fa-solid fa-check"></i><p>unlimited unhosted sites</p></li>
                                    <li><i class="fa-solid fa-check"></i><p>live support</p></li>
                                </ul>
                                <a href="" class="sec5_card_btn  sec5_card2_btn_color anchor">Get Started</a>
                            </div>
                            
                        </div>



                        <div class="sec5_col">
                            <div class="sec5_cards sec5_card3">
                                <div class="para1">
                                    <h3>PRO</h3>
                                </div>
                                <div class="price">
                                    <h3><b>$99</b></h3><p>/MONTH</p>
                                </div>
                                <div class="para2">
                                    <p>Start free while you learn more about our services</p>
                                </div>
                                <div class="line">
                                    <hr>
                                </div>
                                <ul>
                                    <li><i class="fa-solid fa-check"></i><p>Free forever get the basic essentials</p></li>
                                    <li><i class="fa-solid fa-check"></i><p>Advanced security and perfoimance</p></li>
                                    <li><i class="fa-solid fa-check"></i><p>unlimited unhosted sites</p></li>
                                    <li><i class="fa-solid fa-check"></i><p>live support</p></li>
                                </ul>
                                <a href="" class="sec5_card_btn  sec5_card3_btn_color anchor">Get Started</a>
                            </div>
                            
                        </div>




                    </div>
                </div>
            </section>

            <section class="sec6" id="sec6">
                <div class="sec6_container container">
                    
                    <div class="sec6_row ">



                            <div class="sec6_row_child">
                                <div class="sec6_left">
                                    <div class="img">
                                        <img src="template_3/testimonials-img.png" alt="">
                                    </div>
                                    <div class="sec6_left_btn anchor">
                                        <p>@mase.place</p>
                                        <a href="" class="anchor" >  <img src="template_3/arrow_top-right.png" alt=""></a>
                                    </div>
                                    
                                </div>
        
                                <div class="sec6_right">
                                    <div class="title">
                                       <p> "1Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos doloremque aspernatur autem maiores illum qui!"</p>
                                    </div>
                                    <div class="para">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum doloribus quis recusandae.</p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="sec6_row_child">
                                <div class="sec6_left">
                                    <div class="img">
                                        <img src="template_3/testimonials-img.png" alt="">
                                    </div>
                                    <a href="" class="sec6_left_btn anchor"> @mase.place <img src="template_3/arrow_top-right.png" alt=""></a>
                                </div>
        
                                <div class="sec6_right">
                                    <div class="title">
                                       <p> "2Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos doloremque aspernatur autem maiores illum qui!"</p>
                                    </div>
                                    <div class="para">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum doloribus quis recusandae.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="sec6_row_child">
                                <div class="sec6_left">
                                    <div class="img">
                                        <img src="template_3/testimonials-img.png" alt="">
                                    </div>
                                    <a href="" class="sec6_left_btn anchor"> @mase.place <img src="template_3/arrow_top-right.png" alt=""></a>
                                </div>
        
                                <div class="sec6_right">
                                    <div class="title">
                                       <p> "3Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos doloremque aspernatur autem maiores illum qui!"</p>
                                    </div>
                                    <div class="para">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum doloribus quis recusandae.</p>
                                    </div>
                                </div>
                            </div>

                                <div class="sec6_row_child">
                                <div class="sec6_left">
                                    <div class="img">
                                        <img src="template_3/testimonials-img.png" alt="">
                                    </div>
                                    <a href="" class="sec6_left_btn anchor"> @mase.place <img src="template_3/arrow_top-right.png" alt=""></a>
                                </div>
        
                                <div class="sec6_right">
                                    <div class="title">
                                       <p> "4Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos doloremque aspernatur autem maiores illum qui!"</p>
                                    </div>
                                    <div class="para">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum doloribus quis recusandae.</p>
                                    </div>
                                </div>
                            </div>

                           

                        
                    </div>
                        

                        <div class="left_arrow">
                           <a href="" ><img src="template_3/arrow-left-2.png" alt=""></a> 
                        </div>
                        <div class="right_arrow">
                         <a href=""><img src="template_3/arrow-right-2.png" alt=""></a>   
                        </div>
                </div>
            </section>


            <section id="sec7" class="sec7">
                <div class="sec7_container container">
                    <div class="sec7_group">
                        <div class="first_title">
                           <h2>Blog</h2>
                        </div>
                        <div class="second_title">
                          <p>Stay updated</p>
                        </div>
                    </div>


                    <div class="sec7_row">
                        <div class="sec7_col">
                            <div class="img">
                                <img src="template_3/Rectangle 19.png" alt="">
                            </div>
                            <div class="text_group">
                                <div class="para1">
                                    <p>Web Design</p>
                                </div>
                                <div class="para2">
                                    <h3>We Launch Minerva template this week </h3>
                                </div>
    
                                <div class="para3">
                                    <p>Build a Unique Website with HireX template</p>
                                </div>
                                <div>
                                    <a href="" class="readmore"> Read more <img src="template_3/arrow-right-black.png" alt=""></a>
                                </div>
                                </div>
                        </div>

                        <div class="sec7_col">
                            <div class="img">
                                <img src="template_3/Rectangle 20.png" alt="">
                            </div>
                            <div class="text_group">
                                <div class="para1">
                                    <p>Web Design</p>
                                </div>
                                <div class="para2">
                                    <h3>Intoducing the Non-code Webflow Guide</h3>
                                </div>
    
                                <div class="para3">
                                    <p>Build a Unique Website with HireX template</p>
                                </div>
                                <div>
                                    <a href="" class="readmore"> Read more <img src="template_3/arrow-right-black.png" alt=""></a>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </section>

                <section id="sec8" class="sec8">
                    <div class="sec8_container container">
                        <div class="sec8_first">
                            <div class="title">
                                <h2>
                                    Get Our latest neas & updates
                                </h2>
                            </div>
                            <div class="inputs">
                                <div class="name">
                                    <input type="text" name="" id="" placeholder="NAME">
                                </div>
                                <hr class="line">
                                <div class="email">
                                    <input type="text" name="" id="" placeholder="EMAIL">
                                </div>
                                <hr class="line">
                                <a href="" class="anchor sec8_sub_btn"> SUBCRIBE <img src="template_3/arrow-right-black.svg" alt=""> </a>
                                <hr class="line">
                            </div>
                        </div>


                        <div class="sec8_second">
                            <div class="para">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ex fugit aliquam.</p>
                            </div>
                            <a href="" class="anchor sec8_bookcall_btn"> Book a Call</a>
                        </div>
                    </div>




                </section>



            <section id="sec9" class="sec9 ">
           <marquee behavior="scroll" direction="left">
                <div class="sec9_container container">
                    
                        <div class="sec9_col">
                            <div class="label">
                                <h3>THANKS YOU FOR YOUR VISIT</h3>
                            </div>
                        </div>

                        <div class="sec9_line">
                            <img src="template_3/Line 4.png" alt="">
                        </div>

                        <div class="sec9_col">
                            <div class="label">
                                <h3>THANKS YOU FOR YOUR VISIT</h3>
                            </div>
                        </div>

                        <div class="sec9_line">
                            <img src="template_3/Group 59.png" alt="">
                        </div>

                        <div class="sec9_col">
                            <div class="label">
                                <h3>THANKS YOU FOR YOUR VISIT</h3>
                            </div>
                        </div>


                </div>
            </marquee>
            </section>
        </main>


        <footer>
            <div class="footer_container container">
                <div class="comp_logo">
                    <img src="template_3/HireX_black.png" alt="">
                </div>
               
                    <hr class="line">
                <div class="footer_row">
                    <div class="footer_col">
                        <div class="footer_card">
                            <div class="title">
                                <p>Products</p>
                            </div>
                            <ul>
                                <li><a href="" class="anchor"> Platform</a></li>
                                <li><a href="" class="anchor"> Store Overview</a></li>
                                <li><a href="" class="anchor"> Email Report</a></li>
                                <li><a href="" class="anchor"> Portfolio</a></li>
                            </ul>
                        </div>
                        
                    </div>


                    <div class="footer_col">
                        <div class="footer_card">
                            <div class="title">
                                <p>Resource</p>
                            </div>
                            <ul>
                                <li><a href="" class="anchor"> Case Studies</a></li>
                                <li><a href="" class="anchor"> Product Guides</a></li>
                                <li><a href="" class="anchor"> Reports</a></li>
                                <li><a href="" class="anchor"> Blog</a></li>
                                <li><a href="" class="anchor"> FAQ</a></li>
                            </ul>
                        </div>
                        
                    </div>


                    <div class="footer_col">
                        <div class="footer_card">
                            <div class="title">
                                <p>Company</p>
                            </div>
                            <ul>
                                <li><a href="" class="anchor"> Careers</a></li>
                                <li><a href="" class="anchor"> Contact Sales</a></li>
                                <li><a href="" class="anchor"> Contact Supprt</a></li>
                            </ul>
                        </div>
                        
                    </div>


                    <div class="footer_col">
                        <div class="footer_card">
                            <div class="title">
                                <p>Partners</p>
                            </div>
                            <ul>
                                <li><a href="" class="anchor"> Partner With Us</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>

                <div class="footer_text">
                    <div class="first">
                        <p>Terms and Conditions</p>
                    </div>
                    <div class="second">
                        <p>&copy;HIREX,Inc.2022</p>
                    </div>
                </div>
            </div>
        </footer>




    </div>
    
        <script >
            let sec6_row = document.querySelector(".sec6_row")

let count = 1;
let counttotal = document.querySelectorAll(".sec6_row_child").length
let left_arrow = document.querySelector(".left_arrow");
let right_arrow = document.querySelector(".right_arrow");

left_arrow.addEventListener("click",(e)=>{

        e.preventDefault()
        if(count==1){
            count = counttotal+1
        }
        if(count>1){
            count--;
            sec6_row.style.transform= `translateX(${(count-1)*-100}%)`; 
            // console.log(count)

        }
      
})

right_arrow.addEventListener("click",(e)=>{
    e.preventDefault()
    if(count == counttotal){
    sec6_row.style.transform= "none"; 
    count=0

    }
    if(count<counttotal){
    sec6_row.style.transform= `translateX(${count*-100}%)`; 
    count++;
// console.log(count)
    }
  
})
        </script>
</body>

</html>