<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Table Listing</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/dynamic_grid.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <main>
            <section >

<%- body  %>

</section>
            
</main>
<script>
    let currentpage = document.querySelector(".currentpage ");
    let firstpage = document.querySelector(".firstpage ");
    let lastpage = document.querySelector(".lastpage ");
    let previouspage = document.querySelector(".previouspage");
    let nextpage = document.querySelector(".nextpage ");

    
    let pageinput = document.querySelector("#pageinput")
   

  
    if (Number ( currentpage.value) == 1 ) {
        previouspage.style.pointerEvents= "none"
        firstpage.style.pointerEvents= "none"
    }
    
     if(Number ( currentpage.value) ===Number(lastpage.dataset.last) ){
       nextpage.style.pointerEvents = "none";
       lastpage.style.pointerEvents = "none"
    }
    pageinput.addEventListener("change",()=>{
        window.location.href = window.location.origin + window.location.pathname + `?page=${pageinput.value}`
    })


   
   
</script>
    </body>
    </html>