<div class="container mt-8">
    <div>
        <h1 class="text-center my-3 text-bold text-4xl">Welcome to Chirag's Practice Work</h1>
    </div>
    <div class="grid grid-cols-3 ">
       
            <a href="/dynamic_table" class="text-center p-3 border-2 hover:bg-[#1f2937] hover:text-white cursor-pointer" target="_blank"> Dynamic Table</a>
            <a href="/kuku_cube" class="text-center p-3 border-2 hover:bg-[#1f2937] hover:text-white cursor-pointer" target="_blank"> Kuku Cube</a>
            <a href="/tictactoe" class="text-center p-3 border-2 hover:bg-[#1f2937] hover:text-white  cursor-pointer" target="_blank"> Tic Tac Toe</a>
            <a href="/events" class="text-center p-3 border-2 hover:bg-[#1f2937] hover:text-white cursor-pointer" target="_blank"> JavaScript Events</a>
            <a href="/delemeter_search" class="text-center p-3 border-2  hover:bg-[#1f2937] hover:text-white cursor-pointer" target="_blank"> Delemeter Search</a>
            <a href="/student_listing" class="text-center p-3 border-2 hover:bg-[#1f2937] hover:text-white cursor-pointer" target="_blank"> Student Listing</a>
            <a href="/job_application" class="text-center p-3 border-2 hover:bg-[#1f2937] hover:text-white cursor-pointer" target="_blank"> Job Application</a>
            <a href="/dynamic_grid" class="text-center p-3 border-2 hover:bg-[#1f2937] hover:text-white  cursor-pointer" target="_blank"> Dynamic Grid</a>
            <a href="/api_posts" class="text-center p-3 border-2 hover:bg-[#1f2937] hover:text-white cursor-pointer" target="_blank"> API Json Placeholder</a>
            <a href="/html_template_1" class="text-center p-3 border-2 hover:bg-[#1f2937] hover:text-white cursor-pointer" target="_blank"> Html Template 1</a>
            <a href="/html_template_2"  class="text-center p-3 border-2 hover:bg-[#1f2937] hover:text-white cursor-pointer" target="_blank"> Html Template 2</a>
            <a href="/html_template_3" class="text-center p-3 border-2 hover:bg-[#1f2937] hover:text-white  cursor-pointer" target="_blank"> Html Template 3</a>
        
    </div>
    
</div>