<div class="container">
    <div>

        <a href="/dynamic_table" target="_blank"> Dynamic Table</a>
    </div>
    <div>
        <a href="/kuku_cube" target="_blank"> Kuku Cube</a>
    </div>
    <div>
        <a href="/tictactoe" target="_blank"> Tic Tac Toe</a>
    </div>
</div>