<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/kukucube.css">
</head>

<body>
    <header>
        <h1> Chirag Kanani Emp(24DEV036 )</h1>
    </header>
    <div class="container">
        <h2 id="score">0</h2>
        <h3>Time :<span id="time">30</span> </h3>
        <header id="head">
            <h1>Click Start Button to start a game</h1>
        </header>
        <table id="table1" colspacing="0" colpadding="0">
            <tr>
                <td> </td>
                <td id="opt5"> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
            </tr>
        </table>
        <button class="btn">Start Game</button>
    </div>
    <script src="/js/kukucube.js"></script>
</body>


</html>