<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="/css/tictactoe.css">
</head>

<body>
    <header>
        <h1>Chirag kanani Emp(24DEV036)</h1>
        <h2>Welcome to Tic Tac Toe</h2>
    </header>
    <div class="container">
        <div class="score">
            <div class="user1">
                <h2>User 1 Sign = <span><img width="25rem" src="/img/round.png" alt=""></span></h2>
                <p>User 1 Score : <span id="user1win">0</span> Won</p>
            </div>
            <div class="user2">
                <H2> User 2 Sign = <span><img width="25rem" src="/img/cross.png" alt=""></span></H2>
                <p> User 2 Score : <span id="user2win">0</span> Won</p>
            </div>

        </div>
        <table id="tictactoe" colspacing="0" colpadding="0">
            <tr class="trbor">
                <td class="tdbor" id="td1"> <img class="round" src="" alt=""></td>
                <td class="tdbor" id="td2"> <img src="" class="cross"></td>
                <td id="td3"> <img src="" class="cross" alt=""></td>
            </tr>
            <tr class="trbor">
                <td class="tdbor" id="td4"> <img class="round" src="" alt=""></td>
                <td class="tdbor" id="td5"> <img src="" class="cross" alt=""></td>
                <td id="td6"> <img src="" class="cross" alt=""></td>
            </tr>
            <tr>
                <td class="tdbor" id="td7"> <img class="round" src="" alt=""></td>
                <td class="tdbor" id="td8"> <img src="" class="cross" alt=""></td>
                <td id="td9"> <img src="" class="cross" alt=""></td>
            </tr>
        </table>
    </div>
    <script src="/js/tictactoe.js"></script>
</body>

</html>