<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts-Detail</title>
    <link rel="stylesheet" href="/css/api_posts.css">
    <script src="/js/api_posts/fetchData.js"></script>
</head>
<body>
    <main>
        <section class="posts">
            <div class="container">
                <table >
                    <thead>
                     <tr>
                        <th colspan="2">Post Detail</th>
                      </tr>
                    </thead>
                    <tbody id="postDetail">
                       
                    </tbody >
                    <tfoot>
                        <tr>
                            <td colspan="2" > 
                               <button id="showComment" data-id = ''>Show Comment</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <table id="comments">
                   
                        
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <script src="/js/api_posts/postsDetail.js"></script>
</body>
</html>



